.slide-169-1 {
    --token-color: rgba(235, 235, 235, 1);
--token-color-1: rgba(20, 27, 52, 1);
--token-color-2: rgba(78, 181, 119, 1);
--gray-0-white: rgba(255, 255, 255, 1);
--token-color-3: rgba(242, 239, 255, 1);
--token-color-4: rgba(255, 72, 72, 1);
--token-color-5: rgba(59, 65, 89, 1);
--token-color-6: rgba(96, 60, 255, 1);
--token-color-7: rgba(113, 128, 150, 1);
--token-color-8: rgba(245, 246, 255, 1);
--token-color-9: rgba(20, 27, 52, 1);
--token-color-10: rgba(240, 241, 250, 1);
--token-color-11: linear-gradient(180deg, rgba(251, 251, 255, 1) 0%, rgba(202, 202, 255, 1) 100%);
--dark: rgba(20, 27, 52, 1);
--token-color-12: rgba(148, 163, 184, 1);
--token-color-13: rgba(239, 239, 240, 1);
--token-color-14: rgba(241, 250, 240, 1);
--token-color-15: rgba(250, 240, 240, 1);
--gray-80: rgba(30, 41, 59, 1);
--token-color-16: linear-gradient(15deg, rgba(74, 37, 225, 1) 0%, rgba(123, 90, 255, 1) 93%, rgba(123, 90, 255, 1) 100%);
--token-color-17: linear-gradient(15deg, rgba(74, 37, 225, 1) 0%, rgba(123, 90, 255, 1) 93%, rgba(123, 90, 255, 1) 100%);
--token-color-18: rgba(249, 249, 251, 1);
  }